name: Lint and Test Charts

on: 
  - pull_request
  - workflow_dispatch


jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1 
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.13.0

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      - name: Set up Python
        uses: actions/setup-python@v5.2.0
        with:
          python-version: 3.x

      - name: Setup polaris
        uses: fairwindsops/polaris/.github/actions/setup-polaris@master
         
        with:
          version: 9.5.0

      - name: Setup Pluto
        uses: FairwindsOps/pluto/github-action@master

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config ./.github/configs/ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Run chart-testing (lint)
        continue-on-error: true
        run: ct lint --config ./.github/configs/ct.yaml --lint-conf ./.github/configs/lintconf.yaml --chart-yaml-schema ./.github/configs/chart_schema.yaml --check-version-increment=false

      - name: Create kind cluster
        continue-on-error: true
        uses: helm/kind-action@v1.12.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          config: .github/configs/kind-config.yaml
          cluster_name: cview-cluster

      - run: |
          kubectl cluster-info 
          kubectl get nodes -v=6
          kubectl create ns cview-issuer
          kubectl create ns cert-manager
          helm version 
          helm repo add jetstack https://charts.jetstack.io --force-update
          helm upgrade --install cert-manager jetstack/cert-manager --namespace cert-manager --create-namespace --version v1.18.2  --set crds.enabled=true --set enableCertificateOwnerRef=true --wait 
          kubectl get ns
          kubectl get pod -o wide -n cert-manager
          kubectl get nodes -o wide 


      - name: Use polaris for checking helm chart manifests
        continue-on-error: true
        run: |
          echo $HOME
          pwd 
          polaris audit --helm-chart ${GITHUB_WORKSPACE}/charts/cview-issuer --helm-values ${GITHUB_WORKSPACE}/charts/cview-issuer/values.yaml --format=pretty --quiet --only-show-failed-tests --set-exit-code-below-score 80
        
        
      - name: Use pluto for checking helm chart manifests
    
        continue-on-error: true
        run: |
          pwd 
          helm template ${GITHUB_WORKSPACE}/charts/cview-issuer --values ${GITHUB_WORKSPACE}/charts/cview-issuer/values.yaml | pluto detect --target-versions k8s=v1.27.0 -v 2 -o wide -
          helm template ${GITHUB_WORKSPACE}/charts/cview-issuer --values ${GITHUB_WORKSPACE}/charts/cview-issuer/values.yaml | pluto detect --target-versions k8s=v1.28.0 -v 2 -o wide -
          helm template ${GITHUB_WORKSPACE}/charts/cview-issuer --values ${GITHUB_WORKSPACE}/charts/cview-issuer/values.yaml | pluto detect --target-versions k8s=v1.29.0 -v 2 -o wide -
          helm template ${GITHUB_WORKSPACE}/charts/cview-issuer --values ${GITHUB_WORKSPACE}/charts/cview-issuer/values.yaml | pluto detect --target-versions k8s=v1.30.0 -v 2 -o wide -
          helm template ${GITHUB_WORKSPACE}/charts/cview-issuer --values ${GITHUB_WORKSPACE}/charts/cview-issuer/values.yaml | pluto detect --target-versions k8s=v1.31.0 -v 2 -o wide -

      - name: Run chart-testing (install)
        continue-on-error: true
        run: ct install --config ./.github/configs/ct.yaml --charts charts/cview-issuer  --debug  



# based on 
# https://redhat-cop.github.io/ci/linting-testing-helm-charts.html
# https://github.com/argoproj/argo-helm/blob/main/.github/workflows/lint-and-test.yml
